<% provide(:title, 'Dashboard') %>

<%= link_to 'Settings', edit_user_path(current_user) %>

<div class="health">
</div>

<div class="sleep">
</div>

<div class="movement">
</div>

<div class="nutrition">
</div>
