<% provide(:title, 'Devices') %>

<div class="password-reset">
  <%= link_to 'Register Devices', "https://app.validic.com/#{ENV["VALIDIC_ORGANIZATION_ID"]}/#{current_user.token}", target: '_blank' %>
  <%= link_to 'Continue', dashboard_path %>
</div>
