@import url(http://fonts.googleapis.com/css?family=Varela|Roboto:400|Raleway);
@import url(http://fonts.googleapis.com/css?family=Michroma|Quicksand|Gruppo|Raleway);
/* line 2, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
}
/* line 13, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 10, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 17, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 21, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 25, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 29, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 33, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 37, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 41, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 45, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
/* line 50, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 54, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 60, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 68, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
img {
  margin: 0;
  max-width: 100%;
}

/* line 73, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 80, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 84, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_typography.scss */
cite:before {
  content: '\2014 \00A0';
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 10, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
label abbr {
  display: none;
}

/* line 31, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 68, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%;
}

/* line 74, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 20, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 19, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 22, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 27, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 2, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 5, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_layout.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #585858;
}

/* line 11, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_layout.scss */
p {
  font-family: 'Roboto', sans-serif;
}

/* line 2, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
a.signUp {
  color: #ecf0f1;
  font-size: .7em;
}
@media screen and (min-width: 700px) {
  /* line 2, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  a.signUp {
    font-size: 1.7em;
  }
}

/* line 10, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
.signUp {
  position: relative;
  top: 70px;
  left: 40px;
  font-size: .7em;
  border: 1px solid #3abca8;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #b1dad4;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #75c9bc;
  background-image: -webkit-linear-gradient(#75c9bc, #42c4b0);
  background-image: linear-gradient(#75c9bc, #42c4b0);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #7bd7c9;
  background-clip: padding-box;
}
/* line 131, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
.signUp:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #8dcac1;
  cursor: pointer;
  background-color: #67bdb0;
  background-image: -webkit-linear-gradient(#67bdb0, #3bbba7);
  background-image: linear-gradient(#67bdb0, #3bbba7);
}
/* line 148, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
.signUp:active:not(:disabled), .signUp:focus:not(:disabled) {
  border: 1px solid #3abca8;
  box-shadow: inset 0 0 8px 4px #39ae9c, inset 0 0 8px 4px #39ae9c;
}
/* line 51, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
.signUp:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media screen and (min-width: 450px) {
  /* line 10, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  .signUp {
    left: 75px;
  }
}
@media screen and (min-width: 700px) {
  /* line 10, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  .signUp {
    left: 175px;
    top: 160px;
  }
}

/* line 30, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
header {
  position: fixed;
  top: 65px;
  width: 100%;
  height: 200px;
  z-index: -1;
  background: url(http://i.imgur.com/prxXkVP.jpg?1) no-repeat 50% 70%;
  background-size: cover;
}
@media screen and (min-width: 700px) {
  /* line 30, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  header {
    height: 500px;
  }
}
/* line 43, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
header h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: #585858;
  position: relative;
  top: 30%;
  max-width: 170px;
}
@media screen and (min-width: 450px) {
  /* line 43, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  header h1 {
    font-size: 1.3em;
    max-width: 250px;
  }
}
@media screen and (min-width: 700px) {
  /* line 43, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  header h1 {
    font-size: 3em;
    max-width: 550px;
  }
}

/* line 65, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
nav {
  height: 65px;
  background-color: #585858;
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 75, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
nav img {
  width: 40px;
  padding-top: 13px;
  margin-left: 10px;
}
@media screen and (min-width: 450px) {
  /* line 75, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  nav img {
    width: 50px;
    padding-top: 7px;
  }
}
/* line 86, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
nav .navLogo {
  color: white;
  font-size: 1em;
  font-family: 'Gruppo', sans-serif;
  position: relative;
  bottom: 15px;
}
/* line 92, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
nav .navLogo:hover {
  color: #75c9bc;
}
@media screen and (min-width: 450px) {
  /* line 86, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
  nav .navLogo {
    font-size: 2em;
  }
}
/* line 100, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
nav .navLink {
  color: white;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  margin: 18px 8px;
}
/* line 106, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/layout/_header.scss */
nav .navLink:hover {
  color: #75c9bc;
}

/* line 3, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.infograph {
  margin-top: 264px;
  height: 265px;
  background-color: #ecf0f1;
}
@media screen and (min-width: 450px) {
  /* line 3, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infograph {
    height: 300px;
  }
}
@media screen and (min-width: 700px) {
  /* line 3, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infograph {
    height: 340px;
    margin-top: 564px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 3, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infograph {
    height: 360px;
  }
}
/* line 18, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.infograph h2 {
  font-size: 1.1em;
  text-align: center;
  font-family: 'Varela', sans-serif;
  padding: 45px 10px 5px;
}
@media screen and (min-width: 700px) {
  /* line 18, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infograph h2 {
    font-size: 1.5em;
  }
}

/* line 29, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.infoPic {
  width: 250px;
  padding-top: 33px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 450px) {
  /* line 29, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infoPic {
    width: 400px;
  }
}
@media screen and (min-width: 700px) {
  /* line 29, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infoPic {
    width: 550px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 29, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infoPic {
    width: 700px;
  }
}

/* line 48, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.devices {
  background-color: white;
  height: 175px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 700px) {
  /* line 48, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .devices {
    height: 200px;
  }
}
/* line 58, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.devices h3 {
  font-size: 1.1em;
  padding: 23px;
}
/* line 63, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.devices .deviceContainer {
  display: inline-block;
  width: 21%;
}
/* line 72, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.devices p {
  margin-top: 0;
  font-size: .9em;
}

/* line 80, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.infographTwo {
  height: 375px;
  background-color: #ECF0F1;
}
@media screen and (min-width: 450px) {
  /* line 80, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infographTwo {
    height: 500px;
  }
}
@media screen and (min-width: 700px) {
  /* line 80, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infographTwo {
    height: 530px;
  }
}
/* line 89, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.infographTwo .infoPic {
  max-width: 400px;
  padding-top: -20px;
}
/* line 93, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.infographTwo p {
  font-size: 0.8em;
  margin: 15px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  /* line 93, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .infographTwo p {
    max-width: 550px;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 109, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.sectionContainer {
  height: 300px;
  background-color: #585858;
  text-align: center;
}

/* line 115, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.teamBios {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 25px;
}
/* line 15, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
.teamBios:after {
  content: "";
  display: table;
  clear: both;
}
/* line 119, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.teamBios .teamPic {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center;
  margin-top: 25px;
}
/* line 38, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
.teamBios .teamPic:last-child {
  margin-right: 0;
}
/* line 123, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.teamBios .teamPic h4 {
  font-size: .8em;
  color: #75c9bc;
}
@media screen and (min-width: 700px) {
  /* line 123, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .teamBios .teamPic h4 {
    font-size: 1.5em;
    font-family: 'Roboto';
  }
}
/* line 131, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.teamBios .teamPic p {
  color: white;
  font-size: .65em;
}
@media screen and (min-width: 700px) {
  /* line 131, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .teamBios .teamPic p {
    font-size: 1em;
  }
}
/* line 139, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.teamBios .teamPic img {
  width: 80px;
  border-radius: 50%;
}
@media screen and (min-width: 450px) {
  /* line 139, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
  .teamBios .teamPic img {
    width: 120px;
  }
}

/* line 149, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.team {
  font-size: 2em;
  padding: 20px;
  position: relative;
  top: 15px;
  color: #ECF0F1;
}
/* line 155, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/landing_page.scss */
.team:hover {
  color: #75c9bc;
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
#first {
  margin-top: 100px;
}

/* line 5, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
.bio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 8.5298%;
  color: white;
  font-size: .9em;
  padding: 10px;
  font-size: .7em;
}
/* line 38, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
.bio:last-child {
  margin-right: 0;
}
/* line 12, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
.bio p span {
  color: #75c9bc;
}
@media screen and (min-width: 700px) {
  /* line 5, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
  .bio {
    font-size: 1.2em;
  }
}
/* line 19, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
.bio img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border-radius: 50%;
}
/* line 38, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
.bio img:last-child {
  margin-right: 0;
}
@media screen and (min-width: 700px) {
  /* line 19, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
  .bio img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 38, /Users/jjl/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .bio img:last-child {
    margin-right: 0;
  }
}

/* line 28, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
.socialLinks {
  display: inline-block;
}
/* line 30, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
.socialLinks img {
  width: 22px;
  margin-left: 6px;
}
@media screen and (min-width: 700px) {
  /* line 30, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/team.scss */
  .socialLinks img {
    width: 40px;
  }
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/about.scss */
#infoWrapper {
  text-align: center;
}
/* line 3, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/about.scss */
#infoWrapper img {
  position: relative;
  top: 100px;
  padding: 20px;
}
@media screen and (min-width: 700px) {
  /* line 3, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/about.scss */
  #infoWrapper img {
    width: 500px;
  }
}
/* line 11, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/about.scss */
#infoWrapper p {
  max-width: 250px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
  color: white;
}
@media screen and (min-width: 700px) {
  /* line 11, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/about.scss */
  #infoWrapper p {
    max-width: 700px;
    font-size: 1.1em;
  }
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.sign-up {
  padding-top: 100px;
  text-align: center;
  color: white;
}
/* line 5, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.sign-up a {
  color: #75C9BC;
}

/* line 11, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.sign-in {
  padding-top: 100px;
  text-align: center;
  color: white;
}
/* line 15, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.sign-in a {
  color: #75C9BC;
}
/* line 17, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.sign-in a:hover {
  color: white;
}

/* line 27, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
form {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 700px) {
  /* line 27, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
  form {
    width: 400px;
  }
}

/* line 36, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.submit-field {
  text-align: center;
}

/* line 40, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.submit-field input {
  background-color: #75C9BC;
}

/* line 44, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/users/_form.scss */
.other-links a {
  display: block;
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/passwords/create.scss */
.password-reset {
  margin-top: 100px;
}

@media screen and (max-width: 450px) {
  /* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/dashboards/show.scss */
  nav a.navLink {
    font-size: 0.7em;
    margin: 25px 4px;
  }
}

/* line 8, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/dashboards/show.scss */
.dashboard {
  margin-top: 100px;
  text-align: center;
}
/* line 12, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/dashboards/show.scss */
.dashboard .percent {
  float: right;
}
/* line 16, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/dashboards/show.scss */
.dashboard .letter {
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 1.85em;
  margin-left: 18px;
}
/* line 24, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/dashboards/show.scss */
.dashboard .progress-bar-indication {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  border-radius: 0.1875em;
  margin: 0 auto;
  width: 50%;
  display: inline-block;
}
/* line 42, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/dashboards/show.scss */
.dashboard .progress-bar-indication > span.meter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #477dca;
  background-size: 40px 40px;
  background-repeat: repeat-x;
  border: 1px solid #2c5999;
  border-radius: 0.125em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  height: 100%;
  width: 60%;
}
/* line 56, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/dashboards/show.scss */
.dashboard .progress-bar-indication p {
  margin-bottom: 0;
  padding: .1em .5em;
  font-weight: 800;
  color: white;
  text-shadow: 0 0 1px black;
  text-align: left;
}

/* line 1, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/foods/new.scss */
.edit_user {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
/* line 6, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/foods/new.scss */
.edit_user div {
  width: 25%;
  float: left;
  display: block;
}
/* line 11, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/foods/new.scss */
.edit_user div p {
  font-size: 1.4em;
  color: #75c9bc;
}

/* line 18, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/foods/new.scss */
#user_meals_per_day {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* line 25, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/foods/new.scss */
button, input[type="submit"] {
  background-color: #75c9bc;
}

/* line 30, /Users/jjl/TIY/Projects/pladel/app/assets/stylesheets/foods/new.scss */
input[type="checkbox"] {
  position: relative;
  right: 85px;
  top: 26px;
  height: 20px;
  width: 20px;
  z-index: -1;
}
