<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Food Preferences</h1>
      <p class="intro"></p>
      <p class="body"></p>
    </div>
  </div>
</div>

