<% provide(:title, 'About') %>
<div id="infoWrapper">
	<h2>How it works...</h2>
	<img src="http://i.imgur.com/9UaprQd.png">
	<p>Pladel removes the guess work from when determining what you should eat and provides one simple score, your Health GPA, to help track where you're succeeding and failing so you can make changes where it counts.</p>
</div>
