<% provide(:title, 'About') %>
<div id="infoWrapper">
	<h2>How it works...</h2>
	<img src="http://i.imgur.com/9UaprQd.png">
	<p>Pladel removes the guess work from determining what you should eat and helps you better understand your health. A unique algorithm passively tracks your sleep and movement from a wearable device and provides you with one simple score, your Health GPA.  This helps you understand where you're succeeding and failing so you can make changes where it counts.</p>
</div>
