<% provide(:title, 'About') %>
<div id="infoWrapper">
	<img src="http://i.imgur.com/YOVyq8A.png">
	<p>Pladel is a SaaS application for busy working parents who want to improve their health but struggle to stay motivated and consistent when making lifestyle changes. We take the guess work out of what you should eat and provide one simple metric, your Health GPA, to help track where you're succeeding and failing so you can make changes where it counts.

People on specific lifestyle plans like the Primal Blueprint and Ornish can filter recommended foods they enjoy and our software suggests meals and provides a grocery list. Our proprietary algorithm calculates a daily Health GPA based on your sleep, movement and nutrition.

Pladel is your blueprint for a healthy life.</p>
</div>
