<header>
	<h1>Your blueprint for a healthy life.</h1>
</header>

<!-- infograph section -->

<div class="infograph">
	<h2>Begin your lifestyle transformation in 3 easy steps!</h2>
	<img src="http://i.imgur.com/BAJS1Bk.png">
	<p>Pladel makes understanding your health easy by giving you a grade for your overall health based on sleep, movement and nutrition.</p>
</div>

<!-- wearable devices section -->

<section class="devices">
	<h3>Supported devices</h3>
	<div class="device" id="fuel">
		<img src="http://www.electricavenueonline.net/sites/electricavenueonline.net/files/images/nikefuelband.jpg">
		<p>Nike fuel</p>
	</div>

	<div class="device" id="jawbone">
		<img src="http://vitrine-media-cdn.withings.com/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/s/c/scale-blue.png">
		<p>Withings Scale</p>
	</div>

	<div class="device" id="fitbit">
		<img src="http://i.imgur.com/wbnEu63.jpg?1">
		<p>Jawbone Up</p>
	</div>

</section>


<footer>
	<%= link_to 'About', about_path %>
	<%= link_to 'Team', team_path %>
</footer>	
