<header>
	<h1>Your blueprint for a healthy life.</h1>
</header>

<!-- infograph section -->

<div class="infograph">
	<img src="http://www.chaoticmoon.com/wp-content/themes/chaotic/library/images/about/ven-diagram.png">
	<p>Pladel combines dynamic data from your wearable and a custom meal plan in order to track your health in real time</p>
</div>

<!-- wearable devices section -->

<section class="devices">
	<div class="device" id="fuel">
		<img src="http://www.electricavenueonline.net/sites/electricavenueonline.net/files/images/nikefuelband.jpg">
		<p>Nike fuel</p>
	</div>

	<div class="device" id="jawbone">
		<img src="http://vitrine-media-cdn.withings.com/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/s/c/scale-blue.png">
		<p>Withings Scale</p>
	</div>

	<div class="device" id="fitbit">
		<img src="http://www.technobuffalo.com/wp-content/uploads/2013/11/up24-onyx-horiz-hi.jpg">
		<p>Jawbone</p>
	</div>

</section>


<footer>
	<%= link_to 'About', about_path %>
	<%= link_to 'Team', team_path %>
</footer>	
