<header>

	<h1>Your blueprint for a healthy life.</h1>
	<%= link_to 'Sign up', sign_up_path, class: 'signUp' unless signed_in? %>
</header>

<!-- infograph section -->

<div class="infograph">
	<h2>Transform your health in 3 easy steps!</h2>
	<img src="http://i.imgur.com/pcGbVxW.png" class="infoPic">
</div>

<!-- wearable devices section -->

<section class="devices">
	<h3>Supported devices</h3>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/Fitbit_Logo.png">
		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/jawbone-logo.png">
		</div>

		<div class="deviceContainer">
			<img src="http://i.imgur.com/eDa1zNS.png">
		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/dailymile_logo.png">
		</div>

		<div class="deviceContainer">
<<<<<<< HEAD
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/moves-logo-copy.png">
=======
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/BM-logo.png">
>>>>>>> Updated products and team on landing page
		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/strava.png">

		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/FITBUG_ALL_LOGOS.png">
		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/Datu-Logo.png">
		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/withings.png">
		</div>

		<div class="deviceContainer">
			<img src="http://i.imgur.com/qrxM8Rq.png">
		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/Omron_Logo.png">
		</div>

		<div class="deviceContainer">
			<img src="https://validic.com/dev/wp-content/uploads/2013/08/MOVABLE-Logo.png">
		</div>

	</section>

<section class="infographTwo">

	<img src="http://i.imgur.com/ggfHKsy.png" class="infoPic">

<p>Pladel makes understanding your health easy by giving you a grade for your overall health based on sleep, movement and nutrition.</p>

</section>

<div class="sectionContainer">

	<%= link_to 'The Team', team_path, class: 'team' %>

	<section class="teamBios">

		<div class="teamPic">
			<img src="https://avatars1.githubusercontent.com/u/6842753?v=2&s=460">
			<h4>Josh Langholtz</h4>
			<p>Back-End Developer</p>
		</div>

		<div class="teamPic">
			<img src="https://avatars2.githubusercontent.com/u/6550704?v=2&s=460">
			<h4>Tyler Berry</h4>
			<p>Front-End/ Designer</p>
		</div>

		<div class="teamPic">
			<img src="https://avatars1.githubusercontent.com/u/1505158?v=2&s=460">
			<h4>Andrew Hooge</h4>

			<p>Product</p>
		</div>
	</section>

</div>
