<% provide(:title, 'Team') %>	

	
		<div class="bio" id="first">
			
			<img src="https://avatars1.githubusercontent.com/u/6842753?v=2&s=460"><br>
			<div class="socialLinks">
				<a href="https://github.com/jjlangholtz"><img src="http://i.imgur.com/GkuwwKm.png"></a>
				<a href="#"><img src="http://i.imgur.com/67Hru3D.png"></a>
			</div>	
			<p>Came from a military family and moved around quite a bit when he was young. He was born in Japan and is a first generation college graduate with a degree in biological science. He remembers being the smallest guy in class and didn’t make it past the first cut during try-outs. As a freshman in high school he discovered the sport of wrestling and immediately found success. He finished his senior year as the state runner-up for his weight class and went on to wrestle in college. He’s a hardcore gamer and spent 6 months of training in an attempt to be a salaried League of Legends player. He didn't make it, but he did manage to reach the top 1% on the NA server of about 1,000,000 registered players.</p>
		</div>	

		<div class="bio" id="second">
			<img src="https://avatars2.githubusercontent.com/u/6550704?v=2&s=460"><br>
			<div class="socialLinks">
				<a href="https://github.com/tylerberry4"><img src="http://i.imgur.com/GkuwwKm.png"></a>
				<a href="https://www.linkedin.com/in/tylerberry4"><img src="http://i.imgur.com/67Hru3D.png"></a>
			</div>	
			<p> Moved from Dayton, OH to Raleigh about 2 years ago.
			After graduating from Ohio University, he was commissioned into the Army as a Combat Engineer Officer. His training includes everything from basic construction to finding and destroying enemy IED’s (Improvised 
			Explosive Devices). The past four years he has worked in armed security for high-level government facilities, as an emergency medical technician, and a volunteer firefighter. He love creating new, unique designs and learning the latest front end technologies! </p>
		</div>	

		<div class="bio">
			<img src="https://avatars1.githubusercontent.com/u/1505158?v=2&s=460"><br>
			<div class="socialLinks">
				<a href="https://github.com/andrewhooge"><img src="http://i.imgur.com/GkuwwKm.png"></a>
				<a href="https://www.linkedin.com/pub/andrew-hooge/3/b74/7a4"><img src="http://i.imgur.com/67Hru3D.png"></a>
			</div>	
			<p>Entrepreneur with 18 years experience in the health and fitness space. Prior to joining the Iron Yard, Andrew lead two successful software start ups in the health space, Push Active and Fitsistant. He is a highly respected industry expert who, as an innovation and business consultant, helped personal training studios scale and improve their business models. Andrew previously spent over 15 years as a strength and conditioning coach for professional and amateur athletes. He is the author of the book Fitskiing and his expertise has been featured in mainstream magazines and networks including CNN.</p>
		</div>


