<% provide(:title, 'Team') %>


		<div class="bio" id="first">

			<img src="https://avatars1.githubusercontent.com/u/6842753?v=2&s=460"><br>
			<div class="socialLinks">
				<a href="https://github.com/jjlangholtz"><img src="http://i.imgur.com/GkuwwKm.png"></a>
				<a href="https://www.linkedin.com/in/jjlangholtz"><img src="http://i.imgur.com/67Hru3D.png"></a>
			</div>
			<p><b>Back-End Developer</b></p>
			<p>Came from a military family and moved around quite a bit when he was young. He was born in Japan and is a first generation college graduate with a degree in biological science. He remembers being the smallest guy in class and didn’t make it past the first cut during try-outs. As a freshman in high school he discovered the sport of wrestling and immediately found success. He finished his senior year as the state runner-up for his weight class and went on to wrestle in college.</p>
		</div>

		<div class="bio" id="second">
			<img src="https://avatars2.githubusercontent.com/u/6550704?v=2&s=460"><br>
			<div class="socialLinks">
				<a href="https://github.com/tylerberry4"><img src="http://i.imgur.com/GkuwwKm.png"></a>
				<a href="https://www.linkedin.com/in/tylerberry4"><img src="http://i.imgur.com/67Hru3D.png"></a>
			</div>
			<p><b>Front-End Developer</b></p>
			<p> Moved from Dayton, OH to Raleigh about 2 years ago.
			After graduating from Ohio University, he was commissioned into the Army as a Combat Engineer Officer. The past four years he has worked in armed security for high-level government facilities, as an emergency medical technician, and a volunteer firefighter. He love creating new, unique designs and learning the latest front end technologies! </p>
		</div>

		<div class="bio">
			<img src="https://avatars1.githubusercontent.com/u/1505158?v=2&s=460"><br>
			<div class="socialLinks">
				<a href="https://github.com/andrewhooge"><img src="http://i.imgur.com/GkuwwKm.png"></a>
				<a href="https://www.linkedin.com/pub/andrew-hooge/3/b74/7a4"><img src="http://i.imgur.com/67Hru3D.png"></a>
			</div>
			<p><b>Product Manager/Dev-Ops</b></p>
			<p>Entrepreneur passionate about building and managing great products and teams and solving big problems. Prior to joining the Iron Yard, Andrew lead two successful software start ups in the health space, Push Active and Fitsistant. Andrew has over 18 years experience in the health and fitness space.  He is an author and frequent speaker on the integration of health and technology and his expertise has been featured in mainstream magazines and networks including CNN. </p>
		</div>
