#infoWrapper {
	text-align: center;
	position: relative;
	top: 100px;
	z-index: -1;
	h2 {
		color: white;
	}
	img {
		margin-top: 20px;
		padding: 20px;
		@media screen and (min-width: 700px) {
		width: 600px;

	p {
			max-width: 250px;
			margin-top: 75px;
			margin-left: auto;
			margin-right: auto;
			font-size: 0.7em;
			color: white;
			@media screen and (min-width: 700px) {
			max-width: 700px;
			font-size: 1.1em;
			}
		}
}
