@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'users/_form';
@import url(http://fonts.googleapis.com/css?family=Varela|Roboto:400|Raleway);
@import url(http://fonts.googleapis.com/css?family=Michroma|Quicksand|Gruppo|Raleway);

// html {
// 	height: 100%;
// }

body{
	margin: 0;
	padding: 0;
	background-color: rgba(88, 88, 88, 1);
}

p {
	font-family: 'Roboto', sans-serif;
}


//navigation
nav {
	height: 65px;
	background-color: rgba(88, 88, 88, 1);
	position: fixed;
	top: 0;
	width: 100%;
	// -webkit-box-shadow: 0 10px 6px -6px #777;
	//    -moz-box-shadow: 0 10px 6px -6px #777;
	//         box-shadow: 0 10px 6px -6px #777;

	img {
		width: 40px;
		padding-top: 13px;
		margin-left: 10px;
		
		@media screen and (min-width: 450px) {
		width: 50px;
		padding-top: 7px;
		}
	}

	.navLogo {
		color: white;
		font-size: 1em;
		font-family: 'Gruppo', sans-serif;
		position: relative;
		bottom: 15px;
		@media screen and (min-width: 450px) {
		font-size: 2em;
		}
	
	}
	.navLink {
		color: white;
		float: right;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		margin: 18px 15px;
		&:hover {
			color: navy;
		}
	}
}


// //header

a.signUp {
	color: #ecf0f1;
	font-size: .7em;
	@media screen and (min-width: 700px) {
		font-size: 1.7em;
		}
}

.signUp {
	position: relative;
	top: 70px;
	left: 40px;
	font-size: .7em;
	@include button(simple, #75c9bc);
	// border: 2px solid #000;
	// padding: 5px;
	// font-size: 0.8em;
	// background-color: #75c9bc;
	// border-radius: 7px;
	@media screen and (min-width: 450px) {
		left: 75px;
		}
	@media screen and (min-width: 700px) {
		left: 175px;
		top: 160px;
		}	
}

header {
	position: fixed;
	top: 65px;
	width: 100%;
	height: 200px;
	z-index: -1;
	background: url(http://i.imgur.com/prxXkVP.jpg?1) no-repeat 50% 70%;
	// background-image: url(http://i.imgur.com/Z83AyCb.gif?1);
	background-size: cover;
	@media screen and (min-width: 700px) {
		height: 500px;
		}
	

	h1 {
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 1em;
		text-align: center;
		color: #585858;
		position: relative;
		top: 30%;
		max-width: 170px;
		// text-shadow: -1px 0px 3px #000, 0px 1px 1px #000, 1px 0px 3px #000, 0px -1px 1px #000;
		@media screen and (min-width: 450px) {
		font-size: 1.3em;
		max-width: 250px;
		}
		@media screen and (min-width: 700px) {
		font-size: 3em;
		max-width: 550px;
		}
	}
}

// Infograph One

.infograph {
	margin-top: 264px;
	height: 350px;
	background-color: #ecf0f1;
	@media screen and (min-width: 700px) {
		height: 550px;
		margin-top: 564px;
		}

	h2 {
		font-size: 1.1em;
		text-align: center;
		font-family: 'Varela', sans-serif;
		padding: 45px 10px 5px;
		@media screen and (min-width: 700px) {
		font-size: 1.5em;
		}
	}

	p {
		font-size: 0.8em;
		margin: 15px;
		padding-top: 30px;
		text-align: center;

		@media screen and (min-width: 700px) {
		font-size: 1.1em;
		margin-left: 20%;
		margin-right: 20%;
		padding-top: 60px;
		}
	}


	img {
		width: 250px;
		padding-top: 33px;
		display: block;
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: 450px) {
		width: 400px;
		}
		@media screen and (min-width: 700px) {
		width: 550px;
		padding-top: 75px;
		}
		@media screen and (min-width: 1000px) {
		width: 700px;
		}

	}
}

.devices {
	background-color: white;
	// border: solid	black 2px;
	height: 175px;
	text-align: center;
	width: 100%;
	@media screen and (min-width: 700px) {
		height: 200px;
		}

	h3 {
		font-size: 1.1em;
		padding: 23px;
	}

	.deviceContainer {
		display: inline-block;
		width: 21%;

			// position: relative;
			// top: 10px;
			// height: 100px;
		}

		p {
			margin-top: 0;
			font-size: .9em;
		}
	}

//Infograph Two Section

.infographTwo {
	height: 500px;
	background-color: #ECF0F1;
}

//Bio Section

.sectionContainer {
	height: 300px;
	background-color: #585858;
	text-align: center;
}

.teamBios {
	@include outer-container;
	text-align: center;
	padding-top: 25px;
	.teamPic {
		@include span-columns(4);
		text-align: center;
		margin-top: 25px;
		p {
			color: white;
			font-size: .7em;
			@media screen and (min-width: 800px) {
			font-size: 1em;
		}
		}

		img {
			width: 80px;
			border-radius: 50%;
			@media screen and (min-width: 450px) {
			width: 120px;
		}
		}
	}
}


.team{
	font-size: 2em;
	padding: 20px;
	position: relative;
	top: 15px;
	color: #75c9bc;
}





//Team Page

#first {
	margin-top: 100px;
}

.bio {
	@include span-columns(9);
	@include shift(1);
	color: white;
	font-size: .9em;
	padding: 10px;
	font-size: .7em;
	@media screen and (min-width: 700px) {
		font-size: 1.2em;
		}

	img {
		@include span-columns(4 of 12);
		border-radius: 50%;
		@media screen and (min-width: 700px) {
		@include span-columns(3 of 12);
		}
	}
}

.socialLinks {
	display: inline-block;
	img {
	width: 22px;
	margin-left: 6px;
	@media screen and (min-width: 700px) {
		width: 40px;
		} 
	}	
}
















